.skeins {
	padding: 2px;
	border-bottom: 1px solid #f1f1f1f1;
}

.skeins.odd {
	background-color: #fafafa;
}

.skeins:hover {
    background-color: #f8f8f8;
}

.header {
	margin-bottom: 25px;
}

#search-center, #prepare-command {
    padding: 5px;
    margin-bottom: 15px;	
}

#data-content {
	margin-bottom: 30px;
}

#command-content {
	display: none;
}

#command-input {
	margin-bottom: 10px;
}

#command-content textarea {
	margin-top: 20px;
	margin-bottom: 20px;
}

#command-result {
	display: none;
}