.skeins {
	padding: 2px;
	border-bottom: 1px solid #f1f1f1f1;
}

.skeins:nth-child(even) {
	background-color: #fafafa;
}

.skeins:hover {
    background-color: #f8f8f8;
}

.header {
	margin-bottom: 25px;
}

#search-center, #prepare-command {
    padding: 5px;
    margin-bottom: 15px;	
}

#search-center {
	position: sticky;
    top: 0px;
    z-index: 1;
    padding-right: 2px;
}

#data-content {
	margin-bottom: 30px;
	width:100%;
}

#data-content-wrapper {
	display: flex;
}

#shortcut-bar {
	position: sticky;
    top: 60px;
    align-self: start;
    margin-right: 25px;
    text-align: end;
}

#shortcut-bar ul {
	list-style-type: none;
}

#command-content {
	display: none;
}

#command-input {
	margin-bottom: 10px;
}

#command-content textarea {
	margin-top: 20px;
	margin-bottom: 20px;
}

#command-result {
	display: none;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}