.threads {
	padding: 2px;
	border-bottom: 1px solid #f1f1f1f1;
}

.threads.odd {
	background-color: #fafafa;
}

.threads:hover {
    background-color: #f8f8f8;
}

.header {
	margin-bottom: 25px;
}

#search-center {
    padding: 5px;
    margin-bottom: 15px;	
}